---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
spec:
  releaseName: velero
  interval: 15m
  chart:
    spec:
      chart: velero
      version: 10.0.0
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu
        namespace: flux-system
      interval: 15m
  # values:
  #   persistence:
  #     defaultClass: true
  #     reclaimPolicy: Delete
  #     defaultClassReplicaCount: 1
  #   defaultSettings:
  #     backupTarget: "cifs://wireguard.network.svc.cluster.local/longhorn_kubernetes_backup"
  #     backupTargetCredentialSecret: cifs-secret  