---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  # - deployment-headscale-admin.yaml
  - service-headscale-admin.yaml
  - ingress-headscale-admin.yaml
