---
apiVersion: v1
kind: Service
metadata:
  name: opentelemetry-collector-loadbalancer-cloud
  labels:
    service-type/vxlan: static
  annotations:
    service.cilium.io/global: "true"
    service.cilium.io/shared: "true"
    lbipam.cilium.io/ips: "10.129.16.102"
spec:
  selector:
    app.kubernetes.io/component: opentelemetry-collector
    app.kubernetes.io/instance: observability.opentelemetry
    app.kubernetes.io/managed-by: opentelemetry-operator
    app.kubernetes.io/part-of: opentelemetry
  ports:
  - name: otlp-http
    port: 4318
    protocol: TCP
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: opentelemetry-collector-loadbalancer-local # TODO check why it's not connected
  labels: {}
  annotations:
    service.cilium.io/affinity: "remote"
    service.cilium.io/global: "true"
    traefik.ingress.kubernetes.io/service.nativelb: "true"
spec:
  ports:
  - name: otlp-http
    port: 4318
    protocol: TCP
