---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &name traefik-forward-auth
  labels:
    app: *name
spec:
  replicas: 3
  selector:
    matchLabels:
      app: *name
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: *name
    spec:
      shareProcessNamespace: true
      initContainers:
        - name: wait-for-endpoint
          image: alpine/curl:8.14.1
          command: ['sh', '-c',
            'until curl -s -o /dev/null -w "%{http_code}" $ENDPOINT | grep $HTTP_CODE; do sleep 1; done']
          env:
            - name: ENDPOINT
              value: keycloak.xauth.svc.cluster.local/admin/master/console/
            - name: HTTP_CODE
              value: "200"
      containers:
        - name: *name
          # command:
          #   - sh
          #   - -c
          #   - sleep 8000s
          image: ghcr.io/jordemort/traefik-forward-auth:latest
          envFrom:
          - secretRef:
              name: keycloak-sso-data
          resources:
            requests:
              memory: '1Mi'
              cpu: '1m'
            limits:
              memory: '500Mi'
              cpu: '800m'
        - name: go-instrumentation-sidecart
          image: ghcr.io/open-telemetry/opentelemetry-go-instrumentation/autoinstrumentation-go:v0.22.1
          imagePullPolicy: IfNotPresent
          env:
            - name: OTEL_GO_AUTO_TARGET_EXE
              value: /usr/bin/traefik-forward-auth
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://opentelemetry-collector-loadbalancer-cloud.observability.svc.cluster.local:4318"
            - name: OTEL_SERVICE_NAME
              value: "traefik-forward-auth"
            # - name: OTEL_PROPAGATORS
            #   value: "tracecontext,baggage"
          securityContext:
            runAsUser: 0
            privileged: true
      restartPolicy: Always
status: {}
