---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-sso-data
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend-cross-namespaces-secret
    kind: ClusterSecretStore
  target:
    name: keycloak-sso-data
    template:
      engineVersion: v2
      data:
        CLIENT_ID: "{{ .CLIENT_ID }}"
        CLIENT_SECRET: "{{ .CLIENT_SECRET }}"
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
        PROVIDER_URI: "{{ .PROVIDER_URI }}"
        SECRET: "{{ .SECRET }}"
        AUTH_HOST: "{{ .AUTH_HOST }}"
        COOKIE_DOMAIN: "{{ .COOKIE_DOMAIN }}"
        # DEFAULT_PROVIDER: generic-oauth
        DEFAULT_PROVIDER: "{{ .DEFAULT_PROVIDER }}"
        PROVIDERS_OIDC_ISSUER_URL: "{{ .PROVIDERS_OIDC_ISSUER_URL }}"
        PROVIDERS_OIDC_CLIENT_ID: "{{ .PROVIDERS_OIDC_CLIENT_ID }}"
        PROVIDERS_OIDC_CLIENT_SECRET: "{{ .PROVIDERS_OIDC_CLIENT_SECRET }}"
        # PROVIDERS_OIDC_RESOURCE:
  # OIDC Provider:
  # --providers.oidc.issuer-url=                          Issuer URL [$PROVIDERS_OIDC_ISSUER_URL]
  # --providers.oidc.client-id=                           Client ID [$PROVIDERS_OIDC_CLIENT_ID]
  # --providers.oidc.client-secret=                       Client Secret [$PROVIDERS_OIDC_CLIENT_SECRET]
  # --providers.oidc.resource=                            Optional resource indicator [$PROVIDERS_OIDC_RESOURCE]
  #https://github.com/jordemort/traefik-forward-auth?tab=readme-ov-file#usage
  dataFrom:
    - extract:
        key: network/traefik/foward-auth
