apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 4.6.11
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      enabled: true
      className: "traefik"
      tls:
        - hosts: 
          - nc.cloud.icylair.com
          secretName: cloud-icylair-com-prod
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: 'nextcloud-nextcloud-redirectregex@kubernetescrd,nextcloud-your-middleware1@kubernetescrd,nextcloud-your-middleware2@kubernetescrd'
        traefik.ingress.kubernetes.io/enable-cors: "true"
        traefik.ingress.kubernetes.io/cors-headers: "X-Forwarded-For"
    nextcloud:
      host: nc.cloud.icylair.com
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: admin-name
        passwordKey: admin-pass
      # configs:
      #   s3.config.php: |-
      #     <?php
      #     $CONFIG = array (
      #       'objectstore' => array(
      #         'class' => '\\OC\\Files\\ObjectStore\\S3',
      #         'arguments' => array(
      #           'bucket'     => 'my-bucket',
      #           'autocreate' => true,
      #           'key'        => 'xx',
      #           'secret'     => 'xx',
      #           'region'     => 'us-east-1',
      #           'use_ssl'    => false
      #         )
      #       )
      #     );
    persistence:
      enabled: true
      existingClaim: nextcloud-data
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: "postgresql"
      database: "nextcloud"
      username: "nextcloud"
      existingSecret: 
        enabled: true
        secretName: postgres-secret
        # usernameKey: db-username
        passwordKey: db-password
    postgresql:
      enabled: true
      global:
        postgresql:
          auth:
            database: nextcloud
            username: nextcloud
            # password: test
            existingSecret: postgres-secret
            secretKeys:
              userPasswordKey: db-password
              adminPasswordKey: db-password
      primary:
        persistence:
          enabled: true
          existingClaim: nextcloud-database
  #   resources:
  #     requests:
  #       memory: '1Mi'
  #       cpu: '1m'
  #     limits:
  #       memory: '6Gi'
  #       cpu: '2500m'
  #   # adminUser:
  #   #     create: x
  #   #     passwordHash: x
  #   #     username: x
  #   ingress:
  #     enabled: true
  #     className: traefik
  #     hosts:
  #       - host: weave-gitops.cloud.icylair.com
  #         paths:
  #           - path: /
  #             pathType: Prefix
  #     tls:
  #       - hosts:
  #           - weave-gitops.cloud.icylair.com
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: nextcloud-redirectregex
spec:
  redirectRegex:
    regex: 'https://(.*)/.well-known/(?:card|cal)dav'
    replacement: 'https://$${1}/remote.php/dav'
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: your-middleware1
spec:
  redirectRegex:
    regex: '^/\.well-known/(carddav|caldav)/?$'
    replacement: '/remote.php/dav'
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: your-middleware2
spec:
  redirectRegex:
    regex: '^/\.well-known/(webfinger|nodeinfo)/?$'
    replacement: '/index.php/.well-known/$1'
    permanent: true
