apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: matrix-pg-meta
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-system-trixie
  managed:
    services:
      disabledDefaultServices: ["ro", "r"] # removes 2 services
      # additional: to create your own
      # - selectorType: rw
      #   serviceTemplate:
      #     metadata:
      #       name: "mydb-lb"
      #       labels:
      #         test-label: "true"
      #       annotations:
      #         test-annotation: "true"
      #     spec:
      #       type: LoadBalancer
    roles:
      - name: synapse
        superuser: true
        login: true
  primaryUpdateStrategy: unsupervised
  enableSuperuserAccess: true
  superuserSecret:
    name: synapse-pg-superuser
  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 12Gi
      storageClassName: longhorn-storage
      volumeMode: Filesystem
  externalClusters:
    - name: &name matrix-pg-meta
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: *name
          serverName: *name
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: *name
      serverName: *name
  bootstrap:
    initdb:
      database: meta
      owner: synapse # make sure same as "username" in secret down
      secret:
        name: synapse-ext-new
      encoding: UTF8
      locale: C
    # recovery:
    #   source: *name
    #   recoveryTarget:
    #     backupID: "20260204T150001"
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: matrix-pg-meta
spec:
  retentionPolicy: 7d
  configuration:
    destinationPath: s3://postgres-backups/cluster-cloud/matrix
    endpointURL: http://wireguard.network.svc.cluster.local:9010
    s3Credentials:
      accessKeyId:
        name: minio-synapse-pg-backup-secrets
        key: AWS_ACCESS_KEY_ID
      secretAccessKey:
        name: minio-synapse-pg-backup-secrets
        key: AWS_SECRET_ACCESS_KEY
    data:
      compression: bzip2
    wal:
      compression: bzip2
      maxParallel: 8
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: matrix-pg-meta-backup
spec:
  # immediate: true #To trigger a backup immediately
  schedule: "0 0 */6 * * *" # every 6 hours
  backupOwnerReference: self
  cluster:
    name: matrix-pg-meta
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
