apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pg-keycloak
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6-system-trixie
  primaryUpdateStrategy: unsupervised
  enableSuperuserAccess: true
  superuserSecret:
    name: keycloak-pg-superuser
  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 3.0Gi
      storageClassName: longhorn-storage
      volumeMode: Filesystem
  externalClusters:
    - name: &name pg-keycloak
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: *name
          serverName: *name
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: *name
      serverName: *name
  bootstrap:
    # initdb:
    #   database: pg_keycloak
    #   owner: keycloak
    #   secret:
    #     name: keycloak-auth
    recovery:
      source: *name
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: pg-keycloak
spec:
  retentionPolicy: 30d
  configuration:
    destinationPath: s3://postgres-backups/cluster-cloud/pg-keycloak
    endpointURL: http://wireguard.network.svc.cluster.local:9010
    s3Credentials:
      accessKeyId:
        name: minio-postgres-backup-secrets
        key: AWS_ACCESS_KEY_ID
      secretAccessKey:
        name: minio-postgres-backup-secrets
        key: AWS_SECRET_ACCESS_KEY
    data:
      compression: bzip2
    wal:
      compression: bzip2
      maxParallel: 8
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: pg-keycloak-backup
spec:
  schedule: "0 0 */6 * * *" # every 6 hours
  backupOwnerReference: self
  cluster:
    name: pg-keycloak
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
