---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: authentik
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: authentik
      version: "2023.10.5"
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    authentik:
      secret_key: "SM4xQLAbw88BQuCQQDZrIcdPptvaWyHUUJWqQZj4hVzdMJts3a"
      # This sends anonymous usage-data, stack traces on errors and
      # performance data to sentry.io, and is fully opt-in
      error_reporting:
          enabled: false
      postgresql:
          password: "ThisIsNotASecurePassword"
    ingress:
        # Specify kubernetes ingress controller class name
        ingressClassName: traefik
        enabled: true
        hosts:
            # Specify external host name
            - host: authentik.cloud.icylair.com
              paths:
                  - path: "/"
                    pathType: Prefix
        tls:
          - hosts: ["authentik.cloud.icylair.com"]
            secretName: cloud-icylair-com-prod
    postgresql:
        enabled: true
        postgresqlPassword: "ThisIsNotASecurePassword"
    redis:
        enabled: true