---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-operator
spec:
  interval: 15m
  chart:
    spec:
      chart: opentelemetry-operator
      version: 0.102.0
      sourceRef:
        kind: HelmRepository
        name: open-telemetry
        namespace: flux-system
  maxHistory: 5
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: otel-operator-helm-values