# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tachi-access
  namespace: flux-system
spec:
  dependsOn:
    - name: traefik-base
    - name: traefik-addons
  path: ./kubernetes/apps/apps/tachi/tachi/access
  suspend: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: fluxcd-kubernetes
    namespace: flux-system
  interval: 15m
  retryInterval: 15m
  timeout: 5m
