---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: matrix-database
  labels:
    app: matrix-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matrix-database
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: matrix-database
    spec:
      containers:
        - name: databases
          image: postgres:14.10-alpine
          env:
            - name: PGDATA
              value: /data/data
            - name: GID
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: GID
            - name: UID
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: UID
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: DB_NAME_POSTGRES
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: POSTGRES_PASSWORD
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: synapse-database-secrets
                  key: DB_USER
          ports:
            - containerPort: 5432
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "$DB_USER"]
            initialDelaySeconds: 0
            timeoutSeconds: 2
          livenessProbe:
            exec:
              command: ["pg_isready", "-U", "$DB_USER"]
            initialDelaySeconds: 0
            timeoutSeconds: 2
          resources:
            requests:
              memory: '1Mi'
              cpu: '1m'
            limits:
              memory: '10Gi'
              cpu: '3000m'
          volumeMounts:
            - mountPath: /data
              name: matrix-database-data
      restartPolicy: Always
      volumes:
        - name: matrix-database-data
          persistentVolumeClaim:
            claimName: matrix-database-data
status: {}
