---
# yaml-language-server: $schema=https://raw.githubusercontent.com/instrumenta/kubernetes-json-schema/master/v1.14.0/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mautrix-meta
  labels:
    app: mautrix-meta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mautrix-meta
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.network/dockerfile-default: 'true'
        app: mautrix-meta
    spec:
      shareProcessNamespace: true
      initContainers:
        - name: 'create-db-container-facebook'
          image: 'postgres'
          env:
            # DB_NAME_FACEBOOK: facebook
            # DB_USER_NAME_FACEBOOK: facebook_user
            - name: DB_NAME
              value: meta
            - name: DB_USER_NAME
              value: meta_user
            - name: DB_USER_NAME_FACEBOOK
              value: meta_user
            - name: DB_NAME_FACEBOOK
              value: meta 
          envFrom: #we need them both since some are redefined
            - secretRef:
                name: synapse-database-secrets
          command:
            - /bin/bash
            - -c
          args:
            - |
              while ! pg_isready -h $DB_HOST -U $DB_USER > /dev/null 2>&1; do sleep 1; done;
              if ! PGPASSWORD=$POSTGRES_PASSWORD psql -h $DB_HOST -U $DB_USER -d $DB_NAME -c 'select 1' > /dev/null 2>&1; then PGPASSWORD=$POSTGRES_PASSWORD createdb -h $DB_HOST --username=$DB_USER --encoding=$DB_ENCODING --locale=$DB_LOCALE --template=$DB_TEMPLATE $DB_NAME && PGPASSWORD=$POSTGRES_PASSWORD psql -h $DB_HOST -U $DB_USER -c "CREATE USER $DB_USER_NAME WITH PASSWORD '$DB_USER_PASSWORD'; GRANT ALL PRIVILEGES ON DATABASE $DB_NAME TO $DB_USER_NAME;"; fi
      containers:
        - name: mautrix-meta
          command:
            - sh
            - -c
            # - sleep 99999
            - cp -n -p /config/config.yaml /data/config.yaml && /docker-run.sh
          image: dock.mau.dev/mautrix/meta:v0.4.2
          resources:
            requests:
              memory: '1Mi'
              cpu: '1m'
            limits:
              memory: '6Gi'
              cpu: '2500m'
          volumeMounts:
            - mountPath: /data
              name: matrix-bridges-data
              subPath: meta
            - mountPath: /config/config.yaml
              name: matrix-meta-config
              subPath: config.yaml
        # - name: go-instrumentation-sidecart
        #   image: otel/autoinstrumentation-go:v0.14.0-alpha
        #   imagePullPolicy: IfNotPresent
        #   env:
        #     - name: OTEL_GO_AUTO_TARGET_EXE
        #       value: /usr/bin/mautrix-meta
        #     - name: OTEL_EXPORTER_OTLP_ENDPOINT
        #       value: "https://otel-col.cloud.icylair.com"
        #     - name: OTEL_SERVICE_NAME
        #       value: "matrix-synapse-meta-bridge"
        #   securityContext:
        #     runAsUser: 0
        #     privileged: true
      restartPolicy: Always
      volumes:
        - name: matrix-bridges-data
          persistentVolumeClaim:
            claimName: matrix-bridges-data
        - name: matrix-meta-config
          configMap:
            name: matrix-meta-config
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: mautrix-meta
  annotations:
    dns.alpha.kubernetes.io/external: mautrix-meta.matrix.svc.cluster.local
spec:
  selector:
    app: mautrix-meta
  ports:
    - name: http
      targetPort: 29319
      port: 29319
# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: &app mautrix-meta-login
#   labels:
#     # app.kubernetes.io/name: *app
#     # app.kubernetes.io/instance: *app
#     kubernetes.io/ingress.class: traefik
#   annotations:
#     nginx.ingress.kubernetes.io/proxy-body-size: "0"
#     nginx.ingress.kubernetes.io/client-body-buffer-size: "10G"
#     nginx.ingress.kubernetes.io/client-max-buffer-size: "10G"
# spec:
#   ingressClassName: traefik-external
#   rules:
#     - host: &host matrix.icylair.com
#       http:
#         paths:
#           - path: /public/facebook/
#             pathType: Prefix
#             backend:
#               service:
#                 name: mautrix-meta
#                 port:
#                   number: 29319
#   tls:
#   - hosts:
#       - matrix.icylair.com
#     secretName: icylair-com-all-prod
