# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: jellyfin-service
# spec:
#   type: ExternalName
#   externalName: wireguard.network.svc.cluster.local
#   ports:
#     - name: http
#       targetPort: 443
#       port: 443
#       # targetPort: 8097
#       # port: 8097
---
kind: Service
apiVersion: v1
metadata:
  name: jellyfin-tcp
  labels:
    service-type: ingress
  annotations:
    service.cilium.io/affinity: "remote"
    service.cilium.io/global: "true"
    traefik.ingress.kubernetes.io/service.nativelb: "true"
spec:
  ports:
  - port: 8096
    targetPort: 8096
    name: jellyfin-tcp
    protocol: TCP
  - port: 8920
    targetPort: 8920
    name: https-tcp