# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  dependsOn:
  - name: traefik-base
  - name: longhorn-system-base
  path: ./kubernetes/apps/observability/kube-prometheus-stack/app
  prune: true
  suspend: false
  sourceRef:
    kind: GitRepository
    name: fluxcd-kubernetes
    namespace: flux-system
  wait: false # no flux ks dependents
  interval: 30m
  retryInterval: 15m
  timeout: 5m
  targetNamespace: observability
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack-prom-rules
  namespace: flux-system
spec:
  dependsOn:
  - name: traefik-base
  - name: longhorn-system-base
  - name: kube-prometheus-stack
  path: ./kubernetes/apps/observability/kube-prometheus-stack/rules
  prune: true
  suspend: false
  sourceRef:
    kind: GitRepository
    name: fluxcd-kubernetes
    namespace: flux-system
  wait: false # no flux ks dependents
  interval: 30m
  retryInterval: 15m
  timeout: 5m
  targetNamespace: observability