---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph
      version: v1.17.1
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csi:
      provisionerReplicas: 1
    #   cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
      nfs:
        enabled: false
      csiRBDPluginVolume:
        - name: lib-modules
          hostPath:
            path: /run/booted-system/kernel-modules/lib/modules/
        - name: host-nix
          hostPath:
            path: /nix
      # -- The volume mounts of the CephCSI RBD plugin DaemonSet
      csiRBDPluginVolumeMount:
        - name: host-nix
          mountPath: /nix
          readOnly: true
      # -- The volume of the CephCSI CephFS plugin DaemonSet
      csiCephFSPluginVolume:
        - name: lib-modules
          hostPath:
            path: /run/booted-system/kernel-modules/lib/modules/
        - name: host-nix
          hostPath:
            path: /nix
      # -- The volume mounts of the CephCSI CephFS plugin DaemonSet
      csiCephFSPluginVolumeMount:
        - name: host-nix
          mountPath: /nix
          readOnly: true
    monitoring:
      enabled: false
    resources:
      requests:
        memory: 128Mi # unchangable
        cpu: 1m # unchangable
      limits: {}
